* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
	margin: 0 auto 0;
	position: relative;
	width: auto;
	height: 50px;
	background-color: #34495e;
    font-size: 0;
    display: flex;
    justify-content: flex-end;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 1710px;
	background-color: #1abc9c;
}

nav .start-logout, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 1810px;
	background-color: #e74c3c;
}